{% extends "base/base.html" %}

{% block body %}
<section class="section-content padding-y">
    <div class="container">
        {% if cart is not None %}
        <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks
            </p>
        </div>
        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.cart_items.all%}
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src="/media/{{item.product.product_images.first.image}}" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">{{item.product.product_name}}</a>
                                            <p class="text-muted small">Size: {% if item.size_variant.size_name %} {{item.size_variant.size_name}}{% else %}-{% endif %}, Color: {% if item.color_variant.color_name %} {{item.color_variant.color_name}}{% else %}-{% endif %}</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{item.get_product_price}}</var>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light"
                                        data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                    <a href="{% url 'accounts:remove_cart_item' item.uid %}" class="btn btn-light"> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <button id="rzp-button1" class="btn btn-primary float-md-right"> Make Purchase <i
                                class="fa fa-chevron-right"></i> </button>
                        <a href="{% url 'home:index' %}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                    </div>
                </div> <!-- card.// -->

            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method="post">
                            {% include 'base/alert.html' %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="coupon" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        {% if cart.coupon %}
                        <div>
                            <h6>Applied coupon:</h6>
                            <p class="d-flex justify-content-between"><span class="text-success font-weight-bold">{{cart.coupon.coupon_code}}</span> <a href="{% url 'accounts:remove_coupon' cart.uid %}" class="text-danger">Remove</a></p>
                        </div>
                        {% endif %}
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">USD {{cart.get_total_price}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">USD 0</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>${{cart.get_total_price}}</strong></dd>
                        </dl>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
        {% else %}
        <div class="alert alert-danger mt-3">
            <p class="icontext"><i class="icon text-danget fa fa-exclamation-triangle"></i>Cart is empty.
            </p>
        </div>
        {% endif %}

    </div> <!-- container .//  -->
</section>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_yjWLHL211Bs8Oj", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Bootstrap Ecommercer",
    "description": "Test Transaction",
    "image": "/media/images/logo.png",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "{{callback_url}}",
    "redirect": true,
    "handler": function (response){
        window.location.href = `http://127.0.0.1:8000//accounts/success?order_id=${response.razorpay_order_id}&payment_id=${response.razorpay_payment_id}&payment_signature=${response.razorpay_signature}`;
        
        
    },
    "prefill": {
        "name": "{{cart.user.first_name}} {{cart.user.last_name}}",
        "email": "{{cart.user.email}}",
        "contact": ""
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
{% endblock %}